@import './_settings.scss';

.services {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin-right: 10%;
    margin-left: 10%;
}

.card {
    // border: 3px solid $secondColor;
    // border-radius: 20px;
    cursor: pointer;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 246px;
    height: 340px;
    // background-color: #bdd5ea8a;
    background: rgba( 87, 115, 153, 0.65 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 5px );
-webkit-backdrop-filter: blur( 5px );
border-radius: 10px;
    h4 {
        font-family: "Roboto";
        margin-top: 10px;
    }
    h3 {
        color: $fifthColor;
        font-family: "Mauline";
        font-size: 2em;
        margin-bottom: 10px;
    }
}

.container-img img {
    width: 100px;
}

.outils{
    display: grid;
    flex-flow: row wrap;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
    row-gap: 35px;
    column-gap: 20px;
    .outil {
        border: 2px solid $primaryColor;
        border-radius: 30px;
        font-family: "Roboto";
        font-size: 1rem;
        color: $secondColor;
        padding: 6px 4px;
        display: flex;
        justify-content: center;
    }
}

