@import './settings.scss';

.services {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin-right: 10%;
    margin-left: 10%;
}

.card {
    border: 3px solid $secondColor;
    border-radius: 20px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    h3 {
        color: $fifthColor;
        font-family: "Mauline";
        font-size: 2em;
        margin-bottom: 10px;
    }
}

.container-img img {
    width: 100px;
}

.outil {
    border: 2px solid $primaryColor;
    border-radius: 10px;
}