@import "./_settings.scss";

#contact {
    padding-top: 90px;
    padding-bottom: 60px;
    background-color: $fourthColor;
    h2 {
        text-decoration: underline 3px #FE5F55;
    }
}

.contacter {
    margin-top: 30px;
}

.contact-form {
    display: flex;
    justify-content: center;
    form {
        display: flex;
        flex-direction: column;
        font-family: "Roboto";
        width: 557px;
        padding: 0 10px;
    }
    button {
        font-family: "Roboto";
        border: none;
        text-decoration: none;
        cursor: pointer;
        padding: 5px 10px;
        border-radius: 20px;
        background-color: $primaryColor;
        color: $fourthColor;
        font-size: 1.125rem;
        width: 100px;
        margin-left: auto;
        &:hover {
            filter: brightness(120%);
        }
    }
}

label {
    margin-bottom: 6px;
    font-size: 1.125rem;
}

textarea {
    height: 160px;
    resize: none;
}

input, textarea {
    width: 89%;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 27px;
    padding: 5px 5%;
    font-size: 105%;
    font-family: "Roboto";
}



.succes {
    position: absolute;
    border: 5px solid green;
    right: 77%;
    bottom: -630%;
    color: $fourthColor;
    background-color: green;
    padding: 1rem 1rem;
    border-radius: 10px;
    font-family: "Roboto";
}

.error {
    position: absolute;
    border: 5px solid $fifthColor;
    right: 77%;
    bottom: -630%;
    color: $fourthColor;
    background-color: $fifthColor;
    padding: 1rem 1rem;
    border-radius: 10px;
    font-family: "Roboto";
}