@import './settings';

.titre-error {
    margin: 10rem 0;
    font-size: 4rem;
}



.info-error {
    display: flex;
    justify-content: center;
    color: $primaryColor;
    font-size: 1.25rem;
    margin: 10.4rem 0;
}