@import "./_settings.scss";


.hover {
    position: absolute;
    // z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
}

.img-btn-modal {
    // padding: 10px 20px;
    display: block;
    margin: 80px auto 10px;
    position: relative;
    z-index: 9;
    display: flex;
    justify-content: center;
    img {
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        cursor: pointer;
    }
    &:hover .hover{
        opacity: 0.9;
        background-color: $secondColor ;
        border-radius: 20px;
        cursor: pointer;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        .hover-titre {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 85%;
            font-family: "Roboto";
        }
        .hover-button {
            display: flex;
            margin-right: 3%;
        }
        
    }
}

body.active-modal {
    overflow-y: hidden;
}



.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 999;
}

.overlay {
    background: rgba(49,49,49,0.8);
}
.modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 10px;
    min-width: 300px;
    display: flex;
    z-index: 90000;
}

.close-modal{
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}

.close-modal:hover {
    cursor: pointer;
} 

// .modal-img img {
//     width: 500px;
// }

.modal-flex {
    margin-left: 30px;
}

.modal-info {
    font-family: "Roboto";
    h3 {
        font-family: "Mauline";
        font-size: 2.5em;
        color: $fifthColor;
        margin-bottom: 1.125rem;
    }
    a {
        color: $primaryColor;
        font-size: 1.25em;
    }
}

.modal-mission-title, .modal-outils-title{
    font-size: 1.125rem;
}

.modal-mission {
    margin-bottom: 1.125rem;
}

.modal-outils {
    display: flex;
    margin-bottom: 1.125rem;
}

.modal-outil {
    border: 2px solid $primaryColor;
    border-radius: 30px;
    font-family: "Roboto";
    font-size: 1rem;
    color: $secondColor;
    padding: 4px 16px;
    display: flex;
    justify-content: center;
    margin-right: 10px;
}