@import "./_settings.scss";

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $thirdColor;
    height: 844px;
    // background-image: url("../assets/images/grand-min.jpg");
    background-size: cover;

    picture {
        img {
            
        }
    }
    h1 {
        font-weight: 500;
        font-size: 2.5em;
        color: $thirdColor;
    }
}