@import "./_settings.scss";

.main-content {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    color: $thirdColor;
    height: 100vh;
    // background-image: url("../assets/images/grand-min.jpg");
    // background-size: cover;
    position: relative;

    img {
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }
            // picture {
    //     position: absolute;
    //     min-width: 100%;
    //     min-height: 100%;
    //     top: 50%;
    //     left: 50%;
    //     z-index: -100;
    //     transform: translate(-50%, -50%);
    // }
    h1 {
        font-weight: 500;
        font-size: 2.5em;
        color: $thirdColor;
        position: absolute;
        top: 50%;
        text-align: center;
    }
    .titre-p {
        display: flex;
        justify-content: center;
    }
}