@import './settings.scss';

#services {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: $fourthColor;
    h2 {
        text-decoration: underline 3px $fifthColor;
    }
}


.services {
    margin-top: 30px;
}
