@import './_settings.scss';

#travaux {
    padding-top: 90px;
    background-color: $thirdColor;
    padding-bottom: 60px;
    h2 {
        text-decoration: underline 3px $fifthColor;
    }
}

.travaux {
    display: grid;
    grid-template-columns: 50% 50%;
}